Repository martient/bifrost-backups, changes with the labels that .github/labeler.yml gives for each.
All labels: repository config, cli, models, utils, setup/config, interactives cli, postgresql, sqlite3, cypto, localStorage, s3, test, docs, setup, package

ci: remove pull request from the ci workflow
  .github/workflows/ci.yml
Labels: repository config, setup

Migrate the existing configuration workflow from JSON to YAML (#40)
  .github/workflows/ci.yml
  Dockerfile
  go.mod
  kubernetes/job.yml
  pkg/setup/default.go
  pkg/setup/models.go
  pkg/setup/read.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
Labels: repository config, models, setup, package

build(dockerfile): moved from CMD to ENTRYPOINT
  Dockerfile
Labels: none

fix: ash
  Dockerfile
Labels: none

fix(goreleaser): resolve ongoing issue with production image (moved from scratch to alpine)
  goreleaser.dockerfile
Labels: none

build(dockerfile): embed natively psql client for pg_dump
  Dockerfile
  goreleaser.dockerfile
Labels: none

fix: apk force bin/ash
  Dockerfile
  goreleaser.dockerfile
Labels: none

fix: try force shell
  goreleaser.dockerfile
Labels: none

fix(dockerfile): forced ash for goreleaser
  goreleaser.dockerfile
Labels: none

fix(goreleaser): try using ubuntu unstead of alpine
  Dockerfile
  goreleaser.dockerfile
Labels: none

fix: try mutli-arch linuxserver ubuntu
  goreleaser.dockerfile
Labels: none

build: alpine
  goreleaser.dockerfile
Labels: none

feat(keyring): setup keyring encryption for sensitive data
  .vscode/launch.json
  cmd/root.go
  go.mod
  go.sum
  pkg/postgresql/backup.go
  pkg/setup/read.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
  pkg/setup/secure.go
Labels: repository config, cli, setup, package

test(backup): add test on backup section
  pkg/postgresql/backup_test.go
  pkg/setup/setup_test.go
Labels: none

ci(test): add tests, split CI CD process
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  cmd/retention.go
  cmd/root.go
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
  go.mod
  go.sum
  pkg/crypto/decipher.go
  pkg/local_storage/fetch.go
  pkg/local_storage/retention.go
  pkg/local_storage/storage_test.go
  pkg/local_storage/store.go
  pkg/postgresql/backup.go
  pkg/postgresql/backup_test.go
  pkg/postgresql/restore.go
  pkg/s3/retention.go
  pkg/s3/store.go
  pkg/setup/default.go
  pkg/setup/interactives/common.go
  pkg/setup/models.go
  pkg/setup/read.go
  pkg/setup/read_test.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
  pkg/setup/register_test.go
  pkg/setup/secure.go
  pkg/setup/secure_test.go
  pkg/sqlite3/backup.go
  pkg/sqlite3/restore.go
  pkg/utils/pathvalidation.go
Labels: repository config, cli, models, setup, package

ci(build): disable windows
  .github/workflows/ci.yml
Labels: repository config, setup

feat(keyring): setup keyring encryption for sensitive data
  .vscode/launch.json
  cmd/root.go
  go.mod
  go.sum
  pkg/postgresql/backup.go
  pkg/setup/read.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
  pkg/setup/secure.go
Labels: repository config, cli, setup, package

ci(build): disable windows
  .github/workflows/ci.yml
Labels: repository config, setup

test(backup): add test on backup section
  pkg/postgresql/backup_test.go
  pkg/setup/setup_test.go
Labels: none

ci(test): add tests, split CI CD process
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  cmd/retention.go
  cmd/root.go
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
  go.mod
  go.sum
  pkg/crypto/decipher.go
  pkg/local_storage/fetch.go
  pkg/local_storage/retention.go
  pkg/local_storage/storage_test.go
  pkg/local_storage/store.go
  pkg/postgresql/backup.go
  pkg/postgresql/backup_test.go
  pkg/postgresql/restore.go
  pkg/s3/retention.go
  pkg/s3/store.go
  pkg/setup/default.go
  pkg/setup/interactives/common.go
  pkg/setup/models.go
  pkg/setup/read.go
  pkg/setup/read_test.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
  pkg/setup/register_test.go
  pkg/setup/secure.go
  pkg/setup/secure_test.go
  pkg/sqlite3/backup.go
  pkg/sqlite3/restore.go
  pkg/utils/pathvalidation.go
Labels: repository config, cli, models, setup, package

34 add compression solution to reduce storage consumption (#35)
  go.mod
Labels: setup, package

feat(dagger): basic CI with test and release
  .gitignore
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
Labels: setup

ci: update flow tigger
  dagger/go.mod
  dagger/main.go
Labels: none

ci: remove dagger from the workflow
  .github/workflows/ci.yml
Labels: repository config, setup

ci(windows): allow build
  .github/workflows/ci.yml
Labels: repository config, setup

chore(dagger): removed temporary from main repo
  .gitignore
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
Labels: setup

fix(path-validation): prepare terrain for windows
  .github/workflows/ci.yml
  pkg/local_storage/store.go
  pkg/utils/pathvalidation.go
Labels: repository config, setup

cd(k8s): add no-encryption flag
  kubernetes/job.yml
Labels: none

feat(local-files): add way to backup local storages files (config, logs, etc)
  cmd/register_database.go
  pkg/local_files/backup.go
  pkg/local_files/backup_test.go
  pkg/local_files/constants.go
  pkg/local_files/restore.go
  pkg/setup/models.go
  pkg/setup/register_database.go
  pkg/setup/register_test.go
  pkg/sqlite3/backup.go
Labels: cli, models

feat(config): now we are able to export existing config to avoid losing critical information
  cmd/export_config.go
  pkg/setup/export.go
Labels: cli

feat(config): add master password to enable some functionnality
  cmd/export_config.go
  cmd/init_master_password.go
  go.mod
  go.sum
  pkg/setup/export_test.go
  pkg/setup/master_password.go
  pkg/setup/models.go
  pkg/setup/read.go
Labels: cli, models, setup, package

fix(security): update file path and file permission
  cmd/export_config.go
  pkg/local_files/backup.go
  pkg/local_files/restore.go
  pkg/setup/export.go
Labels: cli

fix(security): files permission
  pkg/local_files/restore.go
  pkg/setup/export.go
Labels: none

test(auto-update): test
  cmd/backup.go
  cmd/export_config.go
  cmd/init_master_password.go
  cmd/register_database.go
  cmd/register_storage.go
  cmd/restore.go
  cmd/retention.go
  cmd/root.go
  cmd/self-update.go
  cmd/update.go
  go.mod
  go.sum
  main.go
  pkg/local_storage/store.go
  pkg/postgresql/restore.go
  pkg/setup/export_test.go
  pkg/setup/models.go
  pkg/setup/read_test.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
  pkg/setup/register_test.go
  pkg/setup/secure.go
  pkg/setup/secure_test.go
  pkg/setup/setup_test.go
  pkg/sqlite3/restore.go
  pkg/updater/models.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Labels: cli, models, setup, package

fix(lint): golint
  cmd/update.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Labels: cli

security(update): change file permission and add err check
  pkg/updater/updater.go
Labels: none

test(linux): remove hard coded darwin thing
  pkg/updater/updater_test.go
Labels: none

test(goarch): try fix
  pkg/updater/updater_test.go
Labels: none

fix(lint): golint
  cmd/update.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Labels: cli

test(auto-update): test
  cmd/backup.go
  cmd/export_config.go
  cmd/init_master_password.go
  cmd/register_database.go
  cmd/register_storage.go
  cmd/restore.go
  cmd/retention.go
  cmd/root.go
  cmd/self-update.go
  cmd/update.go
  go.mod
  go.sum
  main.go
  pkg/local_storage/store.go
  pkg/postgresql/restore.go
  pkg/setup/export_test.go
  pkg/setup/models.go
  pkg/setup/read_test.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
  pkg/setup/register_test.go
  pkg/setup/secure.go
  pkg/setup/secure_test.go
  pkg/setup/setup_test.go
  pkg/sqlite3/restore.go
  pkg/updater/models.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Labels: cli, models, setup, package

.github/labeler.yml:

# Add 'repo' label to any root file changes
'repository config':
- '.github/**'
- '.vscode/**'

cli:
- 'cmd/**'

models:
- 'pkg/**/models.go'

utils:
- 'pkg/**/utils.go'

'setup/config':
- 'pkg/setup'

'interactives cli':
- pkg/setup/interactives

postgresql:
- pkg/postgresql

sqlite3:
- pkg/sqlite3

cypto:
- pkg/crypto

localStorage:
- pkg/local_storage

s3:
- pkg/s3

test:
- src/**/*_test.go

docs:
- '**.md'

setup:
- '.github/**'
- 'Makefile'
- 'go.mod'
- 'go.sum'
- '.gitignore'

package:
- 'go.mod'
- 'go.sum'
