Repository martient/bifrost-backups, changes with the labels that .github/labeler.yml gives for each.
All labels: repository config, cli, models, utils, setup/config, interactives cli, postgresql, sqlite3, cypto, localStorage, s3, test, docs, setup, package

Update README.md
  README.md
Labels: docs

fix (relase) tag system
  .github/workflows/release.yml
Labels: repository config, setup

doc (README)
  README.md
Labels: docs

doc (README) (#28)
  README.md
Labels: docs

fix (register storage) follow the same flow as register database
  cmd/register_storage.go
Labels: cli

fix (register storage) follow the same flow as register database (#29)
  cmd/register_storage.go
Labels: cli

Develop (#30)
  cmd/register_storage.go
Labels: cli

fix (register storage) follow the same flow as register database
  .vscode/launch.json
  README.md
Labels: repository config, docs

cd(docker): add docker pubish
  .github/workflows/release.yml
  .gitignore
  Dockerfile
Labels: repository config, setup

Develop (#32)
  .github/workflows/release.yml
  .gitignore
  Dockerfile
Labels: repository config, setup

cd: release
  .github/workflows/release.yml
Labels: repository config, setup

fix: missing cosign
  .github/workflows/release.yml
Labels: repository config, setup

fix: meta data
  .github/workflows/release.yml
Labels: repository config, setup

fix(docker): digest
  .github/workflows/release.yml
Labels: repository config, setup

fix(release): remove step
  .github/workflows/release.yml
Labels: repository config, setup

build: order step
  .github/workflows/release.yml
Labels: repository config, setup

cd(release): split the two process
  .github/workflows/docker.yml
  .github/workflows/release.yml
Labels: repository config, setup

fix(docker): typo
  .github/workflows/docker.yml
Labels: repository config, setup

fix(docker): login and meta data
  .github/workflows/docker.yml
Labels: repository config, setup

build(sentry): setting-up sentry connection to be able to debug production issues reported by end users
  go.mod
  go.sum
  main.go
Labels: setup, package

feat(compression): added zstd compression from datadog
  cmd/backup.go
  cmd/register_storage.go
  cmd/restore.go
  go.mod
  go.sum
  pkg/local_storage/fetch.go
  pkg/local_storage/store.go
  pkg/s3/fetch.go
  pkg/s3/store.go
  pkg/setup/models.go
  pkg/setup/register_storage.go
Labels: cli, models, setup, package

test(local storage): add fetch test
  pkg/local_storage/fetch.go
  pkg/local_storage/fetch_test.go
Labels: none

test(local storage): add store test
  pkg/local_storage/store_test.go
Labels: none

34 add compression solution to reduce storage consumption (#35)
  cmd/backup.go
  cmd/register_storage.go
  cmd/restore.go
  go.mod
  go.sum
  main.go
  pkg/local_storage/fetch.go
  pkg/local_storage/fetch_test.go
  pkg/local_storage/store.go
  pkg/local_storage/store_test.go
  pkg/s3/fetch.go
  pkg/s3/store.go
  pkg/setup/models.go
  pkg/setup/register_storage.go
Labels: cli, models, setup, package

build(mod): update mod list
  go.mod
  go.sum
Labels: setup, package

build(gorelease): test enable cgo
  .github/.goreleaser.yaml
Labels: repository config, setup

feat(dagger): basic CI with test and release
  .github/.goreleaser.yaml
  .gitignore
  Dockerfile
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
  go.mod
  go.sum
  pkg/local_storage/e2e_test.go
  pkg/local_storage/fetch.go
  pkg/local_storage/fetch_test.go
  pkg/local_storage/store.go
  pkg/local_storage/store_test.go
  pkg/s3/fetch.go
  pkg/s3/store.go
Labels: repository config, setup, package

ci(dagger): new workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
Labels: repository config, setup

ci: update flow tigger
  .github/.goreleaser.yaml
  .github/workflows/ci.yml
  Dockerfile
  dagger/go.mod
  dagger/main.go
  go.mod
Labels: repository config, setup, package

ci: remove dagger from the workflow
  .github/workflows/ci.yml
  .goreleaser.yaml
  goreleaser.dockerfile
Labels: repository config, setup

34 add compression solution to reduce storage consumption (#35)
  cmd/backup.go
  cmd/register_storage.go
  cmd/restore.go
  go.mod
  go.sum
  main.go
  pkg/local_storage/fetch.go
  pkg/local_storage/fetch_test.go
  pkg/local_storage/store.go
  pkg/local_storage/store_test.go
  pkg/s3/fetch.go
  pkg/s3/store.go
  pkg/setup/models.go
  pkg/setup/register_storage.go
Labels: cli, models, setup, package

build(gorelease): test enable cgo
  .github/.goreleaser.yaml
Labels: repository config, setup

build(mod): update mod list
  go.mod
  go.sum
Labels: setup, package

feat(dagger): basic CI with test and release
  .github/.goreleaser.yaml
  .gitignore
  Dockerfile
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
  go.mod
  go.sum
  pkg/local_storage/e2e_test.go
  pkg/local_storage/fetch.go
  pkg/local_storage/fetch_test.go
  pkg/local_storage/store.go
  pkg/local_storage/store_test.go
  pkg/s3/fetch.go
  pkg/s3/store.go
Labels: repository config, setup, package

ci(dagger): new workflow
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitignore
Labels: repository config, setup

ci: update flow tigger
  .github/.goreleaser.yaml
  .github/workflows/ci.yml
  Dockerfile
  dagger/go.mod
  dagger/main.go
  go.mod
Labels: repository config, setup, package

ci: remove dagger from the workflow
  .github/workflows/ci.yml
  .goreleaser.yaml
  goreleaser.dockerfile
Labels: repository config, setup

ci: remove unused file
  .github/workflows/docker.yml
  .github/workflows/release.yml
Labels: repository config, setup

Develop (#38)
  .github/.goreleaser.yaml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .goreleaser.yaml
  Dockerfile
  cmd/backup.go
  cmd/register_storage.go
  cmd/restore.go
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/go.mod
  dagger/go.sum
  dagger/main.go
  go.mod
  go.sum
  goreleaser.dockerfile
  main.go
  pkg/local_storage/e2e_test.go
  pkg/local_storage/fetch.go
  pkg/local_storage/fetch_test.go
  pkg/local_storage/store.go
  pkg/local_storage/store_test.go
  pkg/s3/fetch.go
  pkg/s3/store.go
  pkg/setup/models.go
  pkg/setup/register_storage.go
Labels: repository config, cli, models, setup, package

feat(config): migrate the existing configuration workflow from JSON to YAML
  Dockerfile
  go.mod
  kubernetes/job.yml
  pkg/setup/default.go
  pkg/setup/models.go
  pkg/setup/read.go
  pkg/setup/register_database.go
  pkg/setup/register_storage.go
Labels: models, setup, package

.github/labeler.yml:

# Add 'repo' label to any root file changes
'repository config':
- '.github/**'
- '.vscode/**'

cli:
- 'cmd/**'

models:
- 'pkg/**/models.go'

utils:
- 'pkg/**/utils.go'

'setup/config':
- 'pkg/setup'

'interactives cli':
- pkg/setup/interactives

postgresql:
- pkg/postgresql

sqlite3:
- pkg/sqlite3

cypto:
- pkg/crypto

localStorage:
- pkg/local_storage

s3:
- pkg/s3

test:
- src/**/*_test.go

docs:
- '**.md'

setup:
- '.github/**'
- 'Makefile'
- 'go.mod'
- 'go.sum'
- '.gitignore'

package:
- 'go.mod'
- 'go.sum'
